body {
  background-color: white;
  }
h1 {
  color: black;
  text-align: center;
  font-size:30px;
}
.otsikko2{
  color: black;
  text-align: center;
  font-size:18px;
}
  
.tietoja{
  border:25px solid black;
  width: 300px;
  padding: 50px;
  margin: 20px; 
  
}
nimi{
  text-align: center;
  color:black;
}
salasana{
  text-align: center;
  color:black;
}
.lomake{
    width: 100%;
    padding: 10px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
   cursor: pointer;
  text-align: center;
}
  .lomaketieto {
    width: 30%;
    background-color:black;
    color: white;
    padding: 14px 14px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  .lomaketieto:hover {
    background-color: black;  
}