.lomake1{
    width: 100%;
    padding: 10px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
   cursor: pointer;
  text-align: center;
}
.lomake2{
    width: 100%;
    padding: 10px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
   cursor: pointer;
  text-align: center;
}
laheta {
    width: 30%;
    background-color:black;
    color: white;
    padding: 14px 14px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
  